.home {
  display: flex;
}

.productContainer {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filters {
  background-color: rgb(47, 47, 47);
  color: white;
  width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 86vh;
}

.filters > span {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
}
